<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   manifest.plist
   TasteVillage

   Created by 张宇 on 2019/10/22.
   Copyright (c) 2019 张宇. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://github.com/zhangyu-acticle/Itms_1/raw/master/TasteVillage.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>url</key>
                        <string>https://github.com/zhangyu-acticle/Itms_1/raw/master/180.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>url</key>
                        <string>https://github.com/zhangyu-acticle/Itms_1/raw/master/180%202.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.wlcun.tastevillage</string>
                    <key>bundle-version</key>
                    <string>2.0.4.3</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>TasteVillage</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
